@CHARSET "UTF-8";

	section{
		border:1px solid #cccccc;
		border-bottom:none;
		padding:10px;
		overflow: hidden;
	}
	
	#form{
		overflow: hidden;
	}
	#form h1{
		text-align: center;
		font-weight: lighter;
	}

	#form h5{
		color: #555;
		font-weight: lighter;
		margin: 10px;	
		text-align: center;
	}
	#grade{
	padding:10px;
		width:330px;
		margin: 0 auto;
		border:1px solid #aaa;
		border-right:none;
		border-left: none;
		border-bottom: none; 
	}
	#event{
	padding:10px;
		width:400px;
		margin: 0 auto;
		border:1px solid #aaa;
		border-right:none;
		border-left: none;
		border-bottom: none; 
	}
	#emp{
		padding:10px;
		width:600px;
		margin: 0 auto;
		border:1px solid #aaa;
		
	}
	
	#Join label{
		font-size: 14px;
	}
	fieldset {
		width:850px;  
		margin: 0 auto;
		padding: 10px;
		
	}
	#modify label{
		font-size: 14px;
		margin: 5px;
	}
	
	#event label{
		width: 120px;
	}
	
	#duplicatedIdBtn{
	padding: 3px;
	padding-left:15px;
	padding-right:15px;
	background-color: #fff;
	border: 1px solid #333;
	border-radius:3px; 
	font-size: 13px;
	}
	
	#btnSearchPost{
	padding: 3px;
	padding-left:15px;
	padding-right:15px;
	background-color: #fff;
	border: 1px solid #333;
	border-radius:3px; 
	font-size: 13px;
	}
	
	p{
		margin: 10px;
	}
	input{
		margin: 5px;
		
	}
	#send{
	 text-align: center; 
	}
	 label{
    	float: left;
		text-align: center;
		width: 100px;
		margin: 0 auto;
		margin: 5px;
   }
   select{
   	margin: 5px;
   }
   .error, .error2{
      color:red;
      font-size: 12px;
      display:none;      
   }
   
   #reset{
	padding: 5px;
	padding-left:25px;
	padding-right:25px;
	background-color: #fff;
	border: 1px solid #333;
	border-radius:3px; 
}	

#ok{
	border: 1px solid #333;
	padding: 5px;
	padding-left:25px;
	padding-right:25px;
	background-color: #333;
	color: white;
	border-radius:3px; 
}



#ok:HOVER {
	background-color: black;
	
	
}

