<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psw.mapper.BoardMapper">

<resultMap type="BoardVO" id="ResultBoard">
		<result column="airport_code" property="airportCode.code" />
		<result column="customer_code" property="cusCode.code" />	
		<result column="code" property="cusCode.code" />
		<result column="name" property="cusCode.name" />
		<result column="email" property="cusCode.email"/>
		<result column="phone" property="cusCode.phone"/>
		<result column="id" property="cusCode.id"/>
		<collection property="files" column="files" javaType="java.util.ArrayList" select="listSearch"/>
	</resultMap>

	<insert id="insert" useGeneratedKeys="true" keyProperty="no">
		insert into board(title, content, open, customer_code, airport_code )
		values(#{title}, #{content},  #{open}, #{cusCode.code}, #{airportCode.code})
	</insert>
	
	<select id="read"  resultMap="ResultBoard">
		select * from board left join customer 
		on customer.code=board.customer_code
		left join airport
		on customer.code=airport.code
		where no=#{no}
	
	</select>
	
	<update id="update">
		update board 
		set title=#{title}, content=#{content}, airport_code=#{airportCode.code}, open=#{open}
		where no = #{no}
	</update>
	
	<delete id="delete">
		delete from board where no = #{no}
	</delete>
	
	<select id="listAll" resultType="BoardVO">
		select * from board order by no desc
	</select>
	
	<select id="listPage" resultType="BoardVO">
		select * from board order by no desc
		limit #{page}, 10
	</select>
	
	<select id="listCriteria" resultType="BoardVO">
		select * from board order by no desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<update id="addCnt">
		update board 
		set view_cnt=view_cnt+1
		where no = #{no}
	</update>
	
	<select id="totalCount" resultType="int">
		select count(no)
		from board
	</select>
	<!-- ==================================================================================================================================================================== -->
	<sql id="search">
		<if test="searchType=='t'.toString()">
			where title like concat('%', #{keyword},'%')
			<if test="isOpenAll==true"> 
				and open = true
			</if>
		</if>
		<if test="searchType=='c'.toString()">
			where content like concat('%', #{keyword},'%') 
			<if test="isOpenAll==true"> 
				and open = true
			</if>
		</if>
		<if test="searchType=='w'.toString()">
			where writer like concat('%', #{keyword},'%')
			<if test="isOpenAll==true"> 
				and open = true
			</if>
		</if>
		<if test="searchType=='tc'.toString()">
			where title like concat('%', #{keyword},'%') or content like concat('%', #{keyword},'%')
			<if test="isOpenAll==true"> 
				and open = true
			</if>
		</if>
		<if test="searchType=='cw'.toString()">
			where content like concat('%', #{keyword},'%') or writer like concat('%', #{keyword},'%')
			<if test="isOpenAll==true"> 
				and open = true
			</if>
		</if>
		<if test="searchType=='tcw'.toString()">
			where title like concat('%', #{keyword},'%')or content like concat('%', #{keyword},'%') or writer like concat('%', #{keyword},'%')
			<if test="isOpenAll==true"> 
				and open = true
			</if>
		</if>
		<if test="searchType==null or searchType.equals('')"  >
		   <if test="isOpenAll.equals(true)">
		   where open = true
		   </if>			
		</if>		
	</sql>	
	
	
	<select id="listSearch" resultMap="ResultBoard">
		select * from board
		left join customer on customer.code=board.customer_code
		left join reply on board.no=reply.bno
		
		<include refid="search"></include>
		order by board.no desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="searchTotalCount" resultType="int">
		select count(no)
		from board
		<include refid="search"></include>
	</select>
	<!-- ==================================================================================================================================================================== -->
	
	<!-- MyBoard 구분 where절  -->
	
	<!-- ==================================================================================================================================================================== -->
	<sql id="searchMyBoard">
		<if test="cri.searchType=='t'.toString()">
			where title like concat('%', #{cri.keyword},'%') and customer.code=#{cusCode}
		</if>
		<if test="cri.searchType=='c'.toString()">
			where content like concat('%', #{cri.keyword},'%')  and customer.code=#{cusCode}
		</if>
		<if test="cri.searchType=='w'.toString()">
			where writer like concat('%', #{cri.keyword},'%') and customer.code=#{cusCode}
		</if>
		<if test="cri.searchType=='tc'.toString()">
			where title like concat('%', #{cri.keyword},'%') or content like concat('%', #{cri.keyword},'%') and customer.code=#{cusCode}
		</if>
		<if test="cri.searchType=='cw'.toString()">
			where content like concat('%', #{cri.keyword},'%') or writer like concat('%', #{cri.keyword},'%') and customer.code=#{cusCode}
		</if>
		<if test="cri.searchType=='tcw'.toString()">
			where title like concat('%', #{cri.keyword},'%')or content like concat('%', #{cri.keyword},'%') or writer like concat('%', #{cri.keyword},'%') and customer.code=#{cusCode}
		</if>
		<if test="cri.searchType==null or cri.searchType.equals('') and cusCode!=null"  >
			where customer.code=#{cusCode}
		</if>	
	</sql>
	
	<!-- listSearchMyBoard  바꾸면 searchTotalCountMy도 바꿔야된다.-->
	<select id="listSearchMyBoard" resultMap="ResultBoard">
		 select * from board
		left join customer on customer.code=board.customer_code
		<include refid="searchMyBoard"></include>
		order by no desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="searchTotalCountMy" resultType="int">
		select count(no)
		from board
		left join customer on customer.code=board.customer_code
		<include refid="searchMyBoard"></include>
	</select>
	
	<!-- ==================================================================================================================================================================== -->
 	<update id="updateReplyCnt">
		update board set reply_cnt = reply_cnt +#{amount} where no=#{no}
	</update>
	
	<insert id="addAttach">
		insert into board_attach(fullname, no) values(#{fullname}, LAST_INSERT_ID())
	</insert>
	
	<select id="getAttach" resultType="String">
		select fullname from board_attach where no=#{no} order by reg_date
	</select>
	
	<delete id="deleteAttachByFullName">
		delete from board_attach where no=#{no} and fullname=#{fullname}
	</delete>
	
	<delete id="delImg">
		delete from board_attach where no=#{no}
	</delete>
	
	<insert id="addAttachByBno">
		insert into board_attach(fullname, no) values (#{fullname}, #{no})
	</insert>
	
	<update id="updateProgress">
		UPDATE board
		SET progress='답변완료'
		WHERE no=#{no}
	</update>
	
	
</mapper>