<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psw.mapper.ManagerMapper">
	<insert id="insert">
		insert into manager(code, name, id, passwd, phone, email) 
		values((#{code}, #{name}, #{id}, password(#{passwd}), #{phone}, #{email})
	</insert>
	
	<select id="read"></select>
</mapper>