<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psw.mapper.ReplyMapper">

<resultMap type="ReplyVO" id="ResultReply">
	<result column="bno" property="bNo.no"/>
	<result column="manager_code" property="managerCode.code"/>
	<result column="name" property="managerCode.name"/>
	<result column="is_reply" property="isReply"/>
</resultMap>

	<insert id="create" useGeneratedKeys="true" keyProperty="no">
		insert into reply ( content, title, bno, is_reply, manager_code)
		values( #{content}, #{title}, #{bNo.no},1, #{managerCode.code})
	</insert>
	<update id="update">
		update reply set content = #{content}, title = #{title}
		where no = #{no}
	</update>
	<delete id="delete">
		delete from reply where no = #{no}
	</delete>
	
	
	<select id="list" resultMap="ResultReply">
		select * from reply
	</select>
	
	<select id="listPage" resultMap="ResultReply">
		select * from reply
		where bno=#{bNo.no}
		order by no desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="totalCount" resultType="int">
		select count(bno)
		from reply
		where bno=#{bNo.no}
	</select>
	
	<select id="selectByRno"  resultMap="ResultReply">
		select * from reply 
		left join manager on reply.manager_code = manager.code
		where bno=#{bNo.no}
	</select>
	
	<select id="selectByBno" resultType="int">
		select * from board
		left join reply on board.no = reply.bno
		where bno=#{bNo.no}
	</select>
	
</mapper>